/target
/mms_simulator
/.vscode
*.lnk
/logs
*.zip
*.tree
/trees
*.pyc
tmp*
perf*
*.sock
exps*
/compile_commands.json
/.ccls-cache
/spars_tch/.cache
/.cache
/spars_tch/compile_commands.json
/cnn/dataset
/gat/dataset
/.venv
/docvec/data
/docvec/.venv
/docvec/.venv-312
/docvec/models
/docvec/wandb
/docvec/__pycache__
/img
/log
/models
/data
/autoencoder/data
/autoencoder/color
/autoencoder/gray
/spars_tch/build
/spars_tch/cppsrc/*
!/spars_tch/cppsrc/main.cpp
/pyready.txt
0.png
1.png
tensorviz/build
tensorviz/dist
tensorviz/tensorviz.egg-info
/learning_curves
/scrot
/flamegraph.svg
/flamepy.svg